.card {
  background: white;
  margin: 30px 10px;
  border-radius: 4px;
  padding: 10px 5px;
  overflow: hidden;
  box-shadow: 0px 2px 3px 1px rgba(0, 10, 40, 0.5), 0px 2px 10px 5px rgba(0, 10, 50, 0.25);
}
