html {
  padding: 0px;
}

body {
  padding: 0px;
  background-color: hsl(224, 40%, 70%);
}

.App {
  background-color: hsl(224, 40%, 70%);
}

.intro {
  max-width: 70vw;
  font-size: 20px;
  line-height: 1.4em;
  font-family: monospace;
  background-color: hsla(55, 100%, 65%, 0.8);
}

.header {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 4px 4px 0px hsla(220, 80%, 10%, 0.4);
  position: sticky;
  top: 0;
  max-height: 100px;
  display: flex;
}

.header > h1 {
  color: hsl(224, 60%, 10%);
}

.skinny {
  padding: 10px 20px;
}