html {
  padding: 0px;
}

body {
  padding: 0px;
  background-color: hsl(224, 50%, 90%);
}

.App {
  background-color: hsl(224, 50%, 90%);
}

.intro {
  max-width: 70vw;
  font-size: 20px;
  line-height: 1.4em;
  font-family: monospace;
  background-color: hsla(55, 100%, 65%, 0.8);
}

.header {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 4px 4px 0px hsla(220, 50%, 10%, 0.4);
}

.header > h1 {
  margin: 0px;
}

.skinny {
  padding: 0px 20px;
}